<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<h2>Search in TMDb</h2>

<% flash.each do |key, value| %>
  <% alert_class = key.to_s == 'notice' ? 'success' : 'warning' %>
  <div class="alert alert-<%= alert_class %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="search-container">
  <%= form_with url: search_path, method: :get, local: true, html: { id: 'search_form' } do %>
    <label for="search_terms_field">Movie Title</label>
    <%= text_field_tag :search_terms, params[:search_terms], id: 'search_terms_field' %>

    <label for="movie_year_field">Release Year</label>
    <%= text_field_tag :movie_year, params[:movie_year], id: 'movie_year_field' %>

    <div>
      <%= radio_button_tag :language, 'en', params[:language].blank? || params[:language] == 'en', id: 'language_en' %>
      <label for="language_en">English Only</label>
    </div>

    <div>
      <%= radio_button_tag :language, 'all', params[:language] == 'all', id: 'language_all' %>
      <label for="language_all">All Languages</label>
    </div>

    <%= button_tag 'Search', id: 'tmdb_submit', type: 'submit' %>
  <% end %>
</div>

<% if @movies.present? %>
  <table class="table table-striped mt-4" id="search_movies">
    <thead>
      <tr>
        <th>Title</th>
        <th>Release Date</th>
        <th>Rating</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie[:title] %></td>
          <td><%= movie[:release_date].presence || 'Unknown' %></td>
          <td><%= movie[:rating] %></td>
          <td><%= movie[:description] %></td>
          <td>
            <%= form_with url: add_movie_path, method: :post, local: true do %>
              <%= hidden_field_tag 'movie[title]', movie[:title] %>
              <%= hidden_field_tag 'movie[release_date]', movie[:release_date] %>
              <%= hidden_field_tag 'movie[rating]', movie[:rating] %>
              <%= hidden_field_tag 'movie[description]', movie[:description] %>
              <%= submit_tag 'Add to RottenPotatoes', class: 'btn btn-primary btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
